<!DOCTYPE html>
<html lang="zh-CN">
    {% include head.html %}
    <body>
        {% include blog_header.html %}

        <main class="blogmain">
            <header>
                <h1 class="article-title">{{ page.title }}</h1>
                <p class="article-time">
                    {{ page.date |date: "%Y-%m-%d %H:%M:%S"}},  published in <span>{{ page.location }}</span>
                </p>
                <p class="article-hint">
                    If you have any question, you can email me  <a href="mailto:oliverdeng1005@gmail.com">oliverdeng1005@gmail.com</a>.
                </p>
            </header>
            {{ content }}
            {% include post_footer.html %}
        </main>

        {% include footer.html %}
    </body>

</html>
